MovieClient/src/conf/xml-resources/web-service-references/MovieDB/wsdl/localhost_8080/MovieServer/MovieDB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://movieDb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://movieDb/" name="MovieDB">
<types>
<xsd:schema>
<xsd:import namespace="http://movieDb/" schemaLocation="http://localhost:8080/MovieServer/MovieDB?xsd=1"/>
</xsd:schema>
</types>
<message name="db">
<part name="parameters" element="tns:db"/>
</message>
<message name="dbResponse">
<part name="parameters" element="tns:dbResponse"/>
</message>
<message name="movSearch">
<part name="parameters" element="tns:movSearch"/>
</message>
<message name="movSearchResponse">
<part name="parameters" element="tns:movSearchResponse"/>
</message>
<message name="movComp">
<part name="parameters" element="tns:movComp"/>
</message>
<message name="movCompResponse">
<part name="parameters" element="tns:movCompResponse"/>
</message>
<portType name="MovieDB">
<operation name="db">
<input wsam:Action="http://movieDb/MovieDB/dbRequest" message="tns:db"/>
<output wsam:Action="http://movieDb/MovieDB/dbResponse" message="tns:dbResponse"/>
</operation>
<operation name="movSearch">
<input wsam:Action="http://movieDb/MovieDB/movSearchRequest" message="tns:movSearch"/>
<output wsam:Action="http://movieDb/MovieDB/movSearchResponse" message="tns:movSearchResponse"/>
</operation>
<operation name="movComp">
<input wsam:Action="http://movieDb/MovieDB/movCompRequest" message="tns:movComp"/>
<output wsam:Action="http://movieDb/MovieDB/movCompResponse" message="tns:movCompResponse"/>
</operation>
</portType>
<binding name="MovieDBPortBinding" type="tns:MovieDB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="db">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="movSearch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="movComp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MovieDB">
<port name="MovieDBPort" binding="tns:MovieDBPortBinding">
<soap:address location="http://localhost:8080/MovieServer/MovieDB"/>
</port>
</service>
</definitions>